@media screen and (min-width: 2048px) {
    .nav-bar li a {
        font-size: 1.75rem;
    }

    #contact-us {
        font-size: 1.95rem;
    }

    .f2-text ul li {
        margin-left: 0.5rem;
    }

    .features-text li b {
        font-size: 1.8rem;
    }

    .features-text li p {
        font-size: 1.3rem;
    }

    .f1-img ul li,
    .f2-img ul li {
        padding: 4.2rem 0rem;
    }

}

@media screen and (min-width: 2880px) {
    .f2-text ul li {
        margin-left: 2rem;
    }

    .f1-img ul li,
    .f2-img ul li {
        padding: 3.6rem 0rem;
    }
}

@media screen and (min-width: 3250px) {
    .nav-bar li a {
        font-size: 2.75rem;
    }

    #contact-us {
        font-size: 2.85rem;
    }

    .f2-text ul li {
        margin-left: 2rem;
    }

    .features-text li b {
        font-size: 2.25rem;
    }

    .features-text li p {
        font-size: 1.8rem;
    }

    .f1-img ul li,
    .f2-img ul li {
        padding: 5rem 0rem;
    }
}


@media screen and (max-width: 1400px) {

    .f1-img ul li,
    .f2-img ul li {
        padding: 4rem 0rem;
    }
}

@media screen and (max-width: 1210px) {
    .left {
        display: flex;
        justify-content: center;
        position: static;
        width: 100%;
    }

    .right {
        /* border: 1px solid black; */
        float: none;
        justify-content: center;
        width: 100%;
    }

    .nav-bar li a {
        display: flex;
        justify-content: center;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 0.2rem;
    }

    #banner-img {
        position: relative;
        float: right;
        display: flex;
        align-items: flex-end;
        bottom: 0rem;
        width: 30rem;
    }

    .mid-text {
        position: relative;
        margin-top: 3rem;
        width: 80%;
    }

    #p1 {
        font-size: 4rem;
    }

    #p2 {
        padding-top: 2rem;
        font-size: 1.5rem;
    }

    .f1,
    .f2 {
        width: 36%;
    }

    .fimg {
        width: 25%;
    }

    .fimg img {
        width: 80%;
    }

    .f1-text ul li {
        /* float: left; */
        padding: 0rem;
    }

    .f1-img ul li,
    .f2-img ul li {
        padding: 2rem 0rem;
    }

    .f2-text ul li {
        /* float: right; */
        padding: 0rem;
        margin: 0rem;
    }

    .f2-text {
        margin: 0rem;
        padding: 0rem;
    }

    .r1 img,
    .r2 img,
    .r3 img {
        width: 35%;
    }

    .mail img {
        position: static;
        margin-right: 1rem;
    }

    .call img {
        float: right;
        position: static;
        margin-left: 1rem;
    }

    .mail p {
        position: static;
        display: flex;
        justify-content: left;
    }

    .call p {
        position: static;
        display: flex;
        justify-content: right;
    }
}


@media screen and (max-width: 1040px) {

    .f1-img ul li,
    .f2-img ul li {
        padding: 2.3rem 0rem;
    }
}

@media screen and (max-width: 960px) {

    .f1-img ul li,
    .f2-img ul li {
        padding: 2.6rem 0rem;
    }
}

@media screen and (max-width: 850px) {

    .f1-img ul li,
    .f2-img ul li {
        padding: 3.6rem 0rem;
    }
}

@media screen and (max-width: 500px) {

    #banner-img {
        /* border: 1px solid yellow; */
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10rem;
    }

    .mid-text {
        /* border: 2px solid pink; */
        position: relative;
        margin: 0rem;
        left: 10%;
        width: 75%;
    }

    #p1 {
        /* border: 2px solid violet; */
        font-size: 2rem;
        padding: 0rem;
        margin: 0rem;
    }

    #p2 {
        /* border: 2px solid green; */
        position: relative;
        width: 90%;
        padding-top: 1rem;
        margin-top: 1rem;
        font-size: 0.85rem;
    }

    #features-heading {
        /* border: 1px solid black; */
        margin: 0.2rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    .f1,
    .f2 {
        /* border: 1px solid black; */
        width: 36%;
    }

    .fimg {
        /* border: 1px solid purple; */
        width: 25%;
    }

    .fimg img {
        /* border: 1px solid violet; */
        width: 4rem;
    }

    .f1-text {
        width: 80%;
    }

    .f1-img,
    .f2-img {
        /* border: 1px solid blue; */
        width: 1rem;
    }

    .f1 img,
    .f2 img {
        width: 2.5rem;
    }

    .f1-text ul li {
        /* border: 1px solid violet; */
        position: relative;
        left: 0%;
        width: 80%;
        padding: 0rem 0rem;
        text-align: right;
    }

    .features-text li b {
        font-size: 0.75rem;
    }

    .features-text li p {
        font-size: 0.6rem;
    }

    #features-text-f2 {
        padding-left: 20px;
    }

    .f1-img ul li,
    .f2-img ul li {
        /* border: 1px solid pink; */
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        justify-content: center;
    }

    .f1-img ul,
    .f2-img ul {
        padding: 0rem;
    }

    .f2-text {
        width: 80%;
    }

    .f2-text ul li {
        position: relative;
        width: 75%;
        /* border: 1px solid violet; */
        padding: 0.6rem 0rem;
        margin: 0rem 0rem;
        text-align: left;

    }

    .bottom h1 {
        font-size: 2.5rem;
    }

    .r1 img,
    .r2 img,
    .r3 img {
        width: 40%;
    }

    .bottom b {
        font-size: 1.5rem;
    }

    #prof1,
    #prof2,
    #prof3 {
        font-size: 1rem;
    }

    .bottom i {
        font-size: 1rem;
    }

    #review1,
    #review2,
    #review3 {
        font-size: 1rem;
    }

}
